p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  font color: green;
}

h1.title {
  font-family: "Times New Roman";
  font-size: 34px;
  text-align: center
}

h4.date {
  text-align: center;
}

h4.author {
  text-align: center;
}

img[src*="#Wappen"] {
  width:400px;
  height:400px;
}

img[src*="#Profil"] {
  width:300px;
  height:350px;
  float: none!important;
}



.book .book-body .page-wrapper .page-inner section.normal .leaflet-control-layers-toggle {
    background-image: url(images/layers.png) !important;
}
.book .book-body .page-wrapper .page-inner section.normal .leaflet-bar a, .book .book-body .page-wrapper .page-inner section.normal .leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}
.book .book-body .page-wrapper .page-inner section.normal .leaflet-bar a, .book .book-body .page-wrapper .page-inner section.normal .leaflet-bar a:hover {
    background-color: #fff;
}
